/* Write your code here. */
.list-item {
  list-style-type: none;
  margin-left: 0px;
  margin: 4px;
}
.button {
  border: 0px;
  opacity: 0.5;
  cursor: pointer;
}
.clicked-btn {
  border: 0px;
  cursor: pointer;
}
